<form action="/user" method="post">
  <label for="">Username:</label>
  <input type="text" name="username">

  <label for="">Email:</label>
  <input type="text" name="email" id="">

  <label for="">Pass:</label>
  <input type="password" name="password" id="">

  <button type="submit">Crear Usuario</button>
</form>